body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-233px;
  width:1357px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:233px;
  top:36px;
  width:1357px;
  height:832px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1357px;
  height:832px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1361px;
  height:700px;
}
#u1 {
  position:absolute;
  left:-1px;
  top:59px;
  width:1361px;
  height:700px;
}
#u2 {
  position:absolute;
  left:2px;
  top:342px;
  width:1357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:275px;
}
#u4 {
  position:absolute;
  left:473px;
  top:237px;
  width:396px;
  height:275px;
}
#u5 {
  position:absolute;
  left:2px;
  top:130px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:275px;
}
#u6 {
  position:absolute;
  left:475px;
  top:306px;
  width:396px;
  height:275px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u7 {
  position:absolute;
  left:2px;
  top:130px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:83px;
}
#u8 {
  position:absolute;
  left:542px;
  top:399px;
  width:75px;
  height:83px;
  -webkit-transform:rotate(305deg);
  -moz-transform:rotate(305deg);
  -ms-transform:rotate(305deg);
  transform:rotate(305deg);
}
#u9 {
  position:absolute;
  left:2px;
  top:34px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:83px;
}
#u10 {
  position:absolute;
  left:719px;
  top:388px;
  width:75px;
  height:83px;
  -webkit-transform:rotate(56deg);
  -moz-transform:rotate(56deg);
  -ms-transform:rotate(56deg);
  transform:rotate(56deg);
}
#u11 {
  position:absolute;
  left:2px;
  top:34px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正姚体 Regular', '方正姚体';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#0199E2;
}
#u12 {
  position:absolute;
  left:599px;
  top:344px;
  width:145px;
  height:82px;
  font-family:'方正姚体 Regular', '方正姚体';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#0199E2;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正姚体 Regular', '方正姚体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#006EBB;
}
#u14 {
  position:absolute;
  left:637px;
  top:436px;
  width:73px;
  height:40px;
  font-family:'方正姚体 Regular', '方正姚体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#006EBB;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:-17px;
  top:59px;
  width:1377px;
  height:700px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1357px;
  height:832px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Berlin Sans FB Negreta', 'Berlin Sans FB Normal', 'Berlin Sans FB';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#0199E2;
}
#u17 {
  position:absolute;
  left:950px;
  top:402px;
  width:337px;
  height:53px;
  font-family:'Berlin Sans FB Negreta', 'Berlin Sans FB Normal', 'Berlin Sans FB';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#0199E2;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:37px;
  top:29px;
}
#u19_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:745px;
}
#u20 {
  position:absolute;
  left:100px;
  top:0px;
  width:556px;
  height:745px;
  color:#0199E2;
}
#u21 {
  position:absolute;
  left:2px;
  top:364px;
  width:552px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:700px;
}
#u22 {
  position:absolute;
  left:119px;
  top:19px;
  width:509px;
  height:700px;
}
#u23 {
  position:absolute;
  left:2px;
  top:342px;
  width:505px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:144px;
}
#u26 {
  position:absolute;
  left:641px;
  top:88px;
  width:30px;
  height:144px;
  color:#0199E2;
}
#u27 {
  position:absolute;
  left:2px;
  top:64px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u28 {
  position:absolute;
  left:644px;
  top:66px;
  width:22px;
  height:22px;
  color:#0199E2;
}
#u29 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u30 {
  position:absolute;
  left:644px;
  top:232px;
  width:22px;
  height:22px;
  color:#0199E2;
}
#u31 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0199E2;
}
#u32 {
  position:absolute;
  left:643px;
  top:95px;
  width:26px;
  height:137px;
  font-size:18px;
  color:#0199E2;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u19_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u19_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:745px;
}
#u34 {
  position:absolute;
  left:100px;
  top:0px;
  width:556px;
  height:745px;
  color:#0199E2;
}
#u35 {
  position:absolute;
  left:2px;
  top:364px;
  width:552px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:699px;
}
#u36 {
  position:absolute;
  left:119px;
  top:19px;
  width:509px;
  height:699px;
}
#u37 {
  position:absolute;
  left:2px;
  top:342px;
  width:505px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:161px;
}
#u40 {
  position:absolute;
  left:641px;
  top:88px;
  width:30px;
  height:161px;
  color:#0199E2;
}
#u41 {
  position:absolute;
  left:2px;
  top:72px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u42 {
  position:absolute;
  left:644px;
  top:66px;
  width:22px;
  height:22px;
  color:#0199E2;
}
#u43 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u44 {
  position:absolute;
  left:644px;
  top:249px;
  width:22px;
  height:22px;
  color:#0199E2;
}
#u45 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0199E2;
}
#u46 {
  position:absolute;
  left:643px;
  top:101px;
  width:26px;
  height:137px;
  font-size:18px;
  color:#0199E2;
}
#u47 {
  position:absolute;
  left:2px;
  top:-16px;
  width:22px;
  word-wrap:break-word;
}
#u19_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u19_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:577px;
}
#u48 {
  position:absolute;
  left:-1px;
  top:59px;
  width:753px;
  height:577px;
  color:#0199E2;
}
#u49 {
  position:absolute;
  left:2px;
  top:280px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:530px;
}
#u50 {
  position:absolute;
  left:18px;
  top:78px;
  width:709px;
  height:530px;
}
#u51 {
  position:absolute;
  left:2px;
  top:257px;
  width:705px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:186px;
}
#u54 {
  position:absolute;
  left:736px;
  top:114px;
  width:30px;
  height:186px;
  color:#0199E2;
}
#u55 {
  position:absolute;
  left:2px;
  top:85px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u56 {
  position:absolute;
  left:739px;
  top:92px;
  width:22px;
  height:22px;
  color:#0199E2;
}
#u57 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u58 {
  position:absolute;
  left:739px;
  top:300px;
  width:22px;
  height:22px;
  color:#0199E2;
}
#u59 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0199E2;
}
#u60 {
  position:absolute;
  left:738px;
  top:138px;
  width:26px;
  height:144px;
  font-size:18px;
  color:#0199E2;
}
#u61 {
  position:absolute;
  left:2px;
  top:-12px;
  width:22px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:755px;
  top:23px;
  width:583px;
  height:740px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Blackoak Std Black', 'Blackoak Std';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#0199E2;
}
#u63 {
  position:absolute;
  left:894px;
  top:241px;
  width:107px;
  height:96px;
  font-family:'Blackoak Std Black', 'Blackoak Std';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#0199E2;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Blackoak Std Black', 'Blackoak Std';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#0199E2;
}
#u65 {
  position:absolute;
  left:1208px;
  top:513px;
  width:107px;
  height:96px;
  font-family:'Blackoak Std Black', 'Blackoak Std';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#0199E2;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:94px;
  top:23px;
  width:636px;
  height:721px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:112px;
  background:inherit;
  background-color:rgba(246, 246, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  position:absolute;
  left:931px;
  top:97px;
  width:122px;
  height:112px;
}
#u69 {
  position:absolute;
  left:2px;
  top:48px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:68px;
  background:inherit;
  background-color:rgba(248, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0199E2;
}
#u70 {
  position:absolute;
  left:1045px;
  top:565px;
  width:69px;
  height:68px;
  color:#0199E2;
}
#u71 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1357px;
  height:832px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Berlin Sans FB Negreta', 'Berlin Sans FB Normal', 'Berlin Sans FB';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#0199E2;
}
#u72 {
  position:absolute;
  left:950px;
  top:402px;
  width:337px;
  height:53px;
  font-family:'Berlin Sans FB Negreta', 'Berlin Sans FB Normal', 'Berlin Sans FB';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#0199E2;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:755px;
  top:44px;
  width:583px;
  height:740px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Blackoak Std Black', 'Blackoak Std';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#0199E2;
}
#u75 {
  position:absolute;
  left:894px;
  top:241px;
  width:107px;
  height:96px;
  font-family:'Blackoak Std Black', 'Blackoak Std';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#0199E2;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Blackoak Std Black', 'Blackoak Std';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#0199E2;
}
#u77 {
  position:absolute;
  left:1208px;
  top:513px;
  width:107px;
  height:96px;
  font-family:'Blackoak Std Black', 'Blackoak Std';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#0199E2;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:112px;
  background:inherit;
  background-color:rgba(246, 246, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:931px;
  top:97px;
  width:122px;
  height:112px;
}
#u80 {
  position:absolute;
  left:2px;
  top:48px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:68px;
  background:inherit;
  background-color:rgba(248, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0199E2;
}
#u81 {
  position:absolute;
  left:1045px;
  top:565px;
  width:69px;
  height:68px;
  color:#0199E2;
}
#u82 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:560px;
}
#u83 {
  position:absolute;
  left:310px;
  top:869px;
  width:470px;
  height:560px;
}
#u84 {
  position:absolute;
  left:2px;
  top:272px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:144px;
}
#u85 {
  position:absolute;
  left:619px;
  top:1148px;
  width:178px;
  height:144px;
}
#u86 {
  position:absolute;
  left:2px;
  top:64px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:51px;
}
#u87 {
  position:absolute;
  left:647px;
  top:1165px;
  width:105px;
  height:51px;
  -webkit-transform:rotate(325deg);
  -moz-transform:rotate(325deg);
  -ms-transform:rotate(325deg);
  transform:rotate(325deg);
  font-size:20px;
  color:#E29803;
  text-align:center;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:460px;
}
#u89 {
  position:absolute;
  left:106px;
  top:149px;
  width:536px;
  height:460px;
}
#u90 {
  position:absolute;
  left:2px;
  top:222px;
  width:532px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1357px;
  height:832px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u0_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Berlin Sans FB Negreta', 'Berlin Sans FB Normal', 'Berlin Sans FB';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#0199E2;
}
#u91 {
  position:absolute;
  left:950px;
  top:402px;
  width:337px;
  height:53px;
  font-family:'Berlin Sans FB Negreta', 'Berlin Sans FB Normal', 'Berlin Sans FB';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#0199E2;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:755px;
  top:44px;
  width:583px;
  height:740px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Blackoak Std Black', 'Blackoak Std';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#0199E2;
}
#u94 {
  position:absolute;
  left:894px;
  top:241px;
  width:107px;
  height:96px;
  font-family:'Blackoak Std Black', 'Blackoak Std';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#0199E2;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Blackoak Std Black', 'Blackoak Std';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#0199E2;
}
#u96 {
  position:absolute;
  left:1208px;
  top:513px;
  width:107px;
  height:96px;
  font-family:'Blackoak Std Black', 'Blackoak Std';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#0199E2;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:112px;
  background:inherit;
  background-color:rgba(246, 246, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  position:absolute;
  left:931px;
  top:97px;
  width:122px;
  height:112px;
}
#u99 {
  position:absolute;
  left:2px;
  top:48px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:68px;
  background:inherit;
  background-color:rgba(248, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0199E2;
}
#u100 {
  position:absolute;
  left:1045px;
  top:565px;
  width:69px;
  height:68px;
  color:#0199E2;
}
#u101 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:365px;
}
#u102 {
  position:absolute;
  left:62px;
  top:449px;
  width:365px;
  height:365px;
}
#u103 {
  position:absolute;
  left:2px;
  top:174px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:571px;
}
#u104 {
  position:absolute;
  left:129px;
  top:104px;
  width:321px;
  height:571px;
}
#u105 {
  position:absolute;
  left:2px;
  top:278px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u106 {
  position:absolute;
  left:174px;
  top:144px;
  width:141px;
  height:30px;
  font-family:'Berlin Sans FB Negreta', 'Berlin Sans FB Normal', 'Berlin Sans FB';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#0199E2;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:83px;
}
#u108 {
  position:absolute;
  left:498px;
  top:112px;
  width:170px;
  height:83px;
}
#u109 {
  position:absolute;
  left:2px;
  top:34px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u110 {
  position:absolute;
  left:529px;
  top:134px;
  width:109px;
  height:40px;
  font-family:'Berlin Sans FB Negreta', 'Berlin Sans FB Normal', 'Berlin Sans FB';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0199E2;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u112 {
  position:absolute;
  left:495px;
  top:187px;
  width:34px;
  height:34px;
}
#u113 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u114 {
  position:absolute;
  left:475px;
  top:218px;
  width:20px;
  height:20px;
}
#u115 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u116 {
  position:absolute;
  left:461px;
  top:236px;
  width:14px;
  height:14px;
}
#u117 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1357px;
  height:832px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u0_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1913px;
  height:697px;
}
#u118 {
  position:absolute;
  left:-109px;
  top:57px;
  width:1913px;
  height:697px;
}
#u119 {
  position:absolute;
  left:2px;
  top:340px;
  width:1909px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Regular', '华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFC;
}
#u120 {
  position:absolute;
  left:62px;
  top:205px;
  width:225px;
  height:30px;
  font-family:'华文行楷 Regular', '华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFC;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Regular', '华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFC;
}
#u122 {
  position:absolute;
  left:51px;
  top:143px;
  width:433px;
  height:52px;
  font-family:'华文行楷 Regular', '华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFC;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:0px;
  top:57px;
  width:1358px;
  height:697px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
