body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-688px;
  width:422px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u784 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u785 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:883px;
}
#u786 {
  position:absolute;
  left:688px;
  top:6px;
  width:422px;
  height:883px;
}
#u787 {
  position:absolute;
  left:2px;
  top:434px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:694px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u788 {
  position:absolute;
  left:711px;
  top:97px;
  width:375px;
  height:694px;
}
#u789 {
  position:absolute;
  left:2px;
  top:339px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u790 {
  position:absolute;
  left:712px;
  top:97px;
  width:373px;
  height:63px;
}
#u791 {
  position:absolute;
  left:2px;
  top:24px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u793 {
  position:absolute;
  left:727px;
  top:104px;
  width:6px;
  height:6px;
}
#u794 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u795 {
  position:absolute;
  left:734px;
  top:104px;
  width:6px;
  height:6px;
}
#u796 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u797 {
  position:absolute;
  left:741px;
  top:104px;
  width:6px;
  height:6px;
}
#u798 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u799 {
  position:absolute;
  left:748px;
  top:104px;
  width:6px;
  height:6px;
}
#u800 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u801 {
  position:absolute;
  left:756px;
  top:104px;
  width:6px;
  height:6px;
}
#u802 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u803 {
  position:absolute;
  left:772px;
  top:101px;
  width:43px;
  height:12px;
  font-size:10px;
}
#u804 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u805 {
  position:absolute;
  left:822px;
  top:102px;
  width:14px;
  height:12px;
}
#u806 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u807 {
  position:absolute;
  left:883px;
  top:99px;
  width:37px;
  height:12px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u808 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:12px;
}
#u809 {
  position:absolute;
  left:971px;
  top:101px;
  width:9px;
  height:12px;
}
#u810 {
  position:absolute;
  left:2px;
  top:-2px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u811 {
  position:absolute;
  left:987px;
  top:101px;
  width:10px;
  height:12px;
}
#u812 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u813 {
  position:absolute;
  left:1008px;
  top:101px;
  width:30px;
  height:14px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u814 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u816 {
  position:absolute;
  left:1039px;
  top:102px;
  width:26px;
  height:12px;
}
#u817 {
  position:absolute;
  left:2px;
  top:-2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:9px;
}
#u818 {
  position:absolute;
  left:1041px;
  top:103px;
  width:19px;
  height:9px;
}
#u819 {
  position:absolute;
  left:2px;
  top:-4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
}
#u820 {
  position:absolute;
  left:1065px;
  top:105px;
  width:3px;
  height:6px;
  color:#1E1E1E;
}
#u821 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u823_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:85px;
  height:35px;
}
#u823 {
  position:absolute;
  left:987px;
  top:121px;
  width:81px;
  height:31px;
}
#u824 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u825 {
  position:absolute;
  left:1028px;
  top:125px;
  width:1px;
  height:23px;
}
#u826 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u828 {
  position:absolute;
  left:1004px;
  top:134px;
  width:7px;
  height:7px;
}
#u829 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u830 {
  position:absolute;
  left:1012px;
  top:135px;
  width:4px;
  height:4px;
}
#u831 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u832 {
  position:absolute;
  left:998px;
  top:135px;
  width:4px;
  height:4px;
}
#u833 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u834 {
  position:absolute;
  left:1046px;
  top:135px;
  width:6px;
  height:6px;
}
#u835 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u836 {
  position:absolute;
  left:1040px;
  top:129px;
  width:16px;
  height:16px;
}
#u837 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u838 {
  position:absolute;
  left:854px;
  top:125px;
  width:75px;
  height:24px;
  font-size:18px;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u840 {
  position:absolute;
  left:730px;
  top:127px;
  width:24px;
  height:24px;
}
#u841 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:527px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u842 {
  position:absolute;
  left:712px;
  top:261px;
  width:372px;
  height:527px;
}
#u843 {
  position:absolute;
  left:2px;
  top:256px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u844 {
  position:absolute;
  left:728px;
  top:282px;
  width:123px;
  height:22px;
  font-size:16px;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u846 {
  position:absolute;
  left:728px;
  top:342px;
  width:179px;
  height:22px;
  font-size:16px;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u848 {
  position:absolute;
  left:728px;
  top:407px;
  width:178px;
  height:22px;
  font-size:16px;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u850 {
  position:absolute;
  left:728px;
  top:468px;
  width:193px;
  height:22px;
  font-size:16px;
}
#u851 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u852 {
  position:absolute;
  left:728px;
  top:528px;
  width:179px;
  height:22px;
  font-size:16px;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u854 {
  position:absolute;
  left:716px;
  top:268px;
  width:367px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:47px;
}
#u855 {
  position:absolute;
  left:763px;
  top:622px;
  width:260px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
}
#u855_img.selected {
}
#u855.selected {
}
#u856 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  word-wrap:break-word;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:331px;
}
#u857 {
  position:absolute;
  left:892px;
  top:157px;
  width:1px;
  height:330px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u858 {
  position:absolute;
  left:2px;
  top:157px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:331px;
}
#u859 {
  position:absolute;
  left:892px;
  top:222px;
  width:1px;
  height:330px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u860 {
  position:absolute;
  left:2px;
  top:157px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:331px;
}
#u861 {
  position:absolute;
  left:892px;
  top:283px;
  width:1px;
  height:330px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u862 {
  position:absolute;
  left:2px;
  top:157px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:331px;
}
#u863 {
  position:absolute;
  left:892px;
  top:345px;
  width:1px;
  height:330px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u864 {
  position:absolute;
  left:2px;
  top:157px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:331px;
}
#u865 {
  position:absolute;
  left:892px;
  top:405px;
  width:1px;
  height:330px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u866 {
  position:absolute;
  left:2px;
  top:157px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u867 {
  position:absolute;
  left:860px;
  top:282px;
  width:11px;
  height:22px;
  font-size:16px;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u869 {
  position:absolute;
  left:860px;
  top:407px;
  width:11px;
  height:22px;
  font-size:16px;
}
#u870 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
  background:inherit;
  background-color:rgba(237, 63, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u872 {
  position:absolute;
  left:710px;
  top:154px;
  width:375px;
  height:28px;
  font-size:14px;
  color:#FFFFFF;
}
#u873 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u874 {
  position:absolute;
  left:1033px;
  top:161px;
  width:1px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u876 {
  position:absolute;
  left:1048px;
  top:156px;
  width:31px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u879 {
  position:absolute;
  left:712px;
  top:158px;
  width:372px;
  height:100px;
}
#u880 {
  position:absolute;
  left:2px;
  top:42px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
}
#u881 {
  position:absolute;
  left:733px;
  top:222px;
  width:127px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u884 {
  position:absolute;
  left:872px;
  top:225px;
  width:83px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u886 {
  position:absolute;
  left:872px;
  top:178px;
  width:83px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
}
#u888 {
  position:absolute;
  left:733px;
  top:176px;
  width:134px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u890 {
  position:absolute;
  left:715px;
  top:329px;
  width:367px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 63, 20, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#ED3F14;
}
#u892 {
  position:absolute;
  left:981px;
  top:223px;
  width:47px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#ED3F14;
}
#u893 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u894 {
  position:absolute;
  left:873px;
  top:223px;
  width:95px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 63, 20, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#ED3F14;
}
#u896 {
  position:absolute;
  left:981px;
  top:176px;
  width:47px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#ED3F14;
}
#u897 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u898 {
  position:absolute;
  left:873px;
  top:176px;
  width:85px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
